*
{
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
}


body
{
	font-size: 14px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
}

#q
{
	
	background: rgba(255,255,255,0.8);
	padding: 10px;
	border-radius: 30px;
	color: #fff;
	border: 2px solid rgba(255,255,255,0);
	border-bottom: 2px solid rgba(255,255,255,0.3);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	
}

#q:hover, #q:focus
{
	color: #fff;
	border-radius: 30px;
	
	background: rgba(83, 10, 255, 0.5);
	text-shadow: none;
	transition: all ease-in-out .3s;
}

#q::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#google-icon
{
	position: absolute; right: 15px; bottom: 13px;
	opacity: 0.7;
}

#weather-container
{
	/*height: 100px;*/

	transition: all ease-in-out .5s;
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: 300px;
	text-align: center;
	border-radius: 3px;
}

#weather-container:hover
{
	/*height: 400px;*/
}

.bg
{
	position: relative;
}

.bg-buttons
{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
}

.bg-buttons ul
{
	margin: 0;
	padding: 0;
}

.bg-buttons li
{
	margin: 0px !important;
	padding: 0px;
}

a.bg-button
{
	font-size: 16px;
	color: #fff !important;
	transition: all ease-in-out .3s;
}

a.bg-button:hover
{
	color: #FC0 !important;
}

.bg img
{
	border-radius: 10px;
}

.owl-item
{
	border-right: 1px solid #000;
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid #000;
}

.forecast-day
{
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	padding: 2px 4px;
	width: 50px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.forecast-icon
{
	display: block;
	font-size: 20px;
}

.forecast-temp
{
	font-weight: bold;
	font-size: 11px;
}

.categories
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.categories li
{
	display: inline-block;
}

.categories li a
{
	display: block;
	padding: 2px 4px;
	font-size: 13px;
	background-color: rgba(0,0,0,0.5);
	transition: all ease-in-out .3s;
	cursor: pointer;
}

.categories li a:hover
{
	background-color: rgba(255,255,255,1);
	color: #000 !important;
}

a
{
	color: #000;
}

.toggler
{
	opacity: 0.5;
	transition: all ease-in-out .3s;
}

.toggler:hover
{
	opacity: 1;
}

#header
{
	position: fixed;
	top: 20px;
	right: 20px;
}

#header ul
{
	padding: 0;
	margin: 0;
}

#header ul li
{
	list-style: none;
	display: inline-block;
	padding: 10px;
	font-size: 12px;
	transition: all ease-in-out .6s;
	text-shadow: 0px 0px 1px 0px rgba(0,0,0,1);		
}

#header ul li a
{
	color: #fff;
}


#footer
{
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#footer:hover
{
}

#play-button
{
	position: fixed;
	top: 40px;
	right: 60px;
	display: inline-block;
	transition: all ease-in-out .3s;
  -ms-transform: scale(.5, .5); /* IE 9 */
  -webkit-transform: scale(.5, .5); /* Safari */
  transform: scale(.2, .2);	
}

#logo
{
	text-align: center;
	display: block;
	opacity: 0.7;
	transition: all ease-in-out .3s;
	margin-bottom: 20px;
}

#logo:hover{
	opacity: 1;
}

#terms
{
	position: fixed;
	bottom:10px;
	left: 85%;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0.0.0.8);
	margin-left: -50px;
}

#terms a
{
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0.0.0.8);
	font-weight: 300;
	opacity: 0.7;
	text-decoration: none;
}

#terms a:hover
{
	opacity: 1;
}

#search-bar
{
	width: 100%;
}

/*#cse {
    width: 60%;
    margin: 0 auto;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

.gsc-control-cse
{
	background-color: transparent !important;
}

.cse .gsc-control-cse, .gsc-control-cse
{
	border: 0 none !important;	
}*/

input.gsc-input
{
	background: #fff !important;
	font-size: 12px !important;
}

.gsib_a
{
	padding: 0px !important;
}

#background
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;	
	
	-webkit-filter: blur(0px); 
	filter: blur(0px);
	-webkit-transition: 1s -webkit-filter ease-in-out;
	transition: all ease-in-out .5s;

}

#background.blur
{
	-webkit-filter: blur(4px) grayscale(1); 
	filter: blur(5px) gray;  
	-webkit-transition: 1s -webkit-filter ease-in-out;
	transition: all ease-in-out .5s;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);

}


#backgrounds
{
	position: absolute;	
	display: none;
	width: 200px;
	height: 100%;
	max-height: 100%;
}

.widget
{
	  visibility: hidden;
	  transition: visibility 0s, opacity 0.5s linear;		
	opacity: 0;
	/*transition: all ease-in-out .3s;*/
}

.widget.widget-visible
{
		  visibility: visible;
	opacity: 1;
}

.popover-heading
{
	font-weight: bold;
	background-color: #ccc;
	color: #333;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

#footer ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul li
{
	display: inline-block;
	cursor: pointer;
	transition: all ease-in-out .3s;
	padding: 5px 10px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	font-weight: 400;
	border-radius: 3px;
	/*background-color: rgba(0,0,0,0.5);*/
	color: #fff;
	font-size: 16px;
	opacity: 1;
}

#footer ul li a
{
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	opacity: 1;
}

#footer ul li:hover
{
	opacity: 0.8;
	/*background-color: rgba(255,255,255,1);*/
	text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#footer ul li:hover a
{
	/*color: #000000;*/
}






#search-bar-container
{
	position: absolute;

	align-items: center;
	top: 8%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 600px;

	border: 0 none;
	background: none;
	font-size: 20px;
	color: #fff;
	z-index:100;
}

#search-bar
{
	margin: 0 auto;
}

#search
{
	background: url('gsearch.png') no-repeat right center;
	background-size: contain;
	background-color: rgba(255,255,255,0.5);
	border: 2px solid rgba(255,255,255,0.5);
	box-shadow: 0px 2px 0px rgba(0,0,0,0.3);
	color: #fff;
	transition: all ease-in-out .3s;
	border-radius: 3px;
	padding: 5px;
	width: 300px;
	opacity: 0.7;
}

#search:hover
{
	opacity: 0.4;
	border: 2px solid rgba(255,255,255,1);
	
}

#search:focus
{
	opacity: 0.9;
	width: 400px;
	border: 2px solid rgba(255,255,255,1);
	background-color: #fff;
	color: #fff;		
}

.ui-widget-content a
{
	display: block;
	text-decoration: none;
}

.ui-widget-content a:hover
{
	background-color: #eee;
	color: #fff;
	border: 1px solid #eee;
}



#datetime
{
	transition: all ease-in-out .6s;
	text-align: right;
	/*background-color: rgba(0,0,0,0.5);*/
	border-radius: 3px;
}

#datetime:hover
{

}

#date{
  color: #fff;
  padding: 0.5em;
  text-align: right;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  font-weight: 300;  
}

#hours, #minutes, #seconds, #ampm
{
	font-size: 30px;
	font-weight: 300;
}

#clock
{
	color: #fff;
	font-size: 30px;
}

.settings
{
	font-size: 12px;
	background-color: #FFF;
	color: #999;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.dropdown-menu
{
	padding: 0;
}

.unit{
	display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  text-align: right;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);

}

.overlay-button
{
	border-radius: 3px;
}

#tm-container
{
	padding: 20px;
	position: fixed;
	width: 100vw;
	left: -105vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	transition: all cubic-bezier(1,0,0,1) .6s;
	overflow: hidden;
	/*margin: 20px;*/
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
	z-index: 100000;
	color: #fff;
}

#tm-closer
{
	position: absolute;
	top: 20px;
	right: 30px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 1;
	transition: all ease-in-out .6s;
	z-index: 1000;
}

.option-box
{
	margin-bottom: 5px;
}

.tm
{
	margin-bottom: 20px;
}

.tm a
{
	display: block;
	cursor: pointer;
}

.tm img
{
	background: url('loading.gif') center no-repeat black;
	/*border: 3px solid rgba(0,0,0,0.5);*/
	border-radius: 6px;
	transition: all ease-in-out .3s;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);	
}

.tm:hover img
{
	/*border: 3px solid rgba(255,255,255,0.5);*/
	box-shadow: 0px 3px 3px rgba(0,0,0,0.9);
}

#gm-container
{
	padding: 20px;
	position: fixed;
	width: 100vw;
	left: -105vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	transition: all cubic-bezier(1,0,0,1) .6s;
	overflow: hidden;
	/*margin: 20px;*/
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
	z-index: 1;
	color: #fff;
}

.scontent
{
	overflow: auto;
	height: 100vh;
	z-index: 2;
	padding-bottom: 200px;
}

#gm-closer
{
	position: absolute;
	top: 20px;
	right: 30px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 1;
	transition: all ease-in-out .6s;
	z-index: 1000;
}

.gm
{
	margin-bottom: 20px;
}

.gm a
{
	display: block;
	cursor: pointer;
}

.gm img
{
	background: url('loading.gif') center no-repeat black;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 3px;
	transition: all ease-in-out .3s;
	height: auto;
}

.gm:hover img
{
	border: 3px solid rgba(255,255,255,0.5);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);


}


#game-container
{
	padding: 10px 0px;
	position: fixed;
	width: 700px;
	left: -700px;
	height: 100%;
	background-color: rgba(255,255,255,1);
	transition: all cubic-bezier(1,0,0,1) .5s;
	overflow: hidden;
	z-index: 10;


}

#bg-container.opened, #tm-container.opened, #game-container.opened
{
	left: 0;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}



#game-closer 
{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0.5;
	transition: all ease-in-out .6s;
	z-index: 1000;
}

#game-container a
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}

.game-box
{
	margin-bottom: 20px;
}

.game-box:hover img
{
	box-shadow: 0px 0px 3px 2px rgba(234,50,50,0.9);
}

.game-box a
{
	color: #333333 !important;
	transition: all ease-in-out .3s;
	text-decoration: none;
}
.game-box:hover a
{
	color: #DD0C0F !important;
}

.game-box img
{
	width: 100%;
	border-radius: 10px;
	transition: all ease-in-out .3s;
}

#more-games
{
	display: block;
	width: 200px;
	text-align: center;
	padding: 10px;
	background: #29AA45;
	color: #000;
	margin:  0 auto;
	border-radius: 3px;
	text-decoration: none;
}

#more-themes
{
	display: block;
	width: 200px;
	text-align: center;
	padding: 10px;
	background: #29AA45;
	color: #FFF;
	margin:  0 auto;
	border-radius: 3px;
	text-decoration: none;
}

#bg-closer:hover, #tm-closer:hover, #game-closer:hover
{
	opacity: 1;
}




#bg-container
{
	padding: 10px 0px;
	position: fixed;
	width: 30vw;
	left: -30vw;
	height: 100%;
	/*background-color: rgba(0,0,0,0.3);*/
	background-color: #fff;
	transition: all cubic-bezier(1,0,0,1) .6s;
	overflow: hidden;
	z-index: 10;

}

#bg-container.opened, #tm-container.opened, #gm-container.opened
{
	left: 0;
}

#overlay
{
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s, opacity 0.5s linear;	
	position: fixed;
	width: 100%;
	height: 100%;
	right: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.4);
	z-index: 1;
	transition: all ease-in-out .5s;
}

#overlay.opened
{
	  visibility: visible;
  opacity: 1;
}

#bg-closer 
{
	position: absolute;
	top: 6px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0.5;
	transition: all ease-in-out .6s;
	z-index: 1000;
}

#bg-closer:hover, #tm-closer:hover
{
	opacity: 1;
}


#bg-container ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#bg-container ul li
{
	padding: 10px 10px 0px;
	margin-bottom: 5px;
}


#bg-images ul
{
}

#bg-images li
{
	cursor: pointer;
	opacity: 0.9;
	transition: all ease-in-out .6s;	
}

#tm-images
{
	padding-bottom: 200px;
}

#bg-images li img, #tm-images img, #gm-images li img
{
	width: 100%;
}

#bg-images li:hover
{
	opacity: 1;
}

#bg-images li img
{
	transition: all ease-in-out .3s;
}

#bg-images li:hover img
{
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

#links-container
{
	display: flex;
	position: fixed;
	text-align: center;
	justify-content: center;
	  align-items: center;	
	top: 0px;
	left: 0px;
	bottom: 0;
}

#links
{
	margin: 0 auto;
	text-align: center;
	justify-content: center;	
}

#links ul
{
	padding: 0;
	margin: 0;
	border-radius: 3px;
	transition: all ease-in-out .5s;
	margin-left: 0px;
}

#links ul.hidden
{	
	transform: translate(-100%, 0);
}


#links ul li
{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	opacity: 0.5;
	transition: all ease-in-out .3s;
}

#links ul li:first-child img
{
	border-top-right-radius: 5px;
}

#links ul li:last-child img
{
	border-bottom-right-radius: 5px;
}

#links ul li:hover
{
	opacity: 1;
}

#links ul li a
{
	display: block;
}

#links ul li img
{
	width: 50px;
	-webkit-filter: grayscale(1);

	filter: gray;
	transition: all ease-in-out .6s;
	/*border-radius: 200px;*/
}

#links ul li img:hover
{
	-webkit-filter: grayscale(0);

	filter: none;	
}




/* MORPHING */

    
.morphing-btn-wrap {
  display: inline-block;
  position: relative;
  text-align: center;
}

.morphing-btn {
  -webkit-transition: background 0.6s, color 0.2s 0.2s, width 0.2s 0s;
  -moz-transition: background 0.6s, color 0.2s 0.2s, width 0.2s 0s;
  -o-transition: background 0.6s, color 0.2s 0.2s, width 0.2s 0s;
  transition: color 0.6s 0.2s, width 0.2s 0s;
  white-space: nowrap;
  box-sizing: border-box;
}

.morphing-btn_circle {
  color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  width: 35.6px !important;

  /* Override inline style rule */
  -webkit-transition: color 0.2s 0s, width .6s 0.2s;
  -moz-transition: color 0.2s 0s, width .6s 0.2s;
  -o-transition: color 0.2s 0s, width .6s 0.2s;
  transition: color 0.2s 0s, width .6s 0.2s;
}

.morphing-btn-clone {
  position: fixed;
  background: #333333;
  border-radius: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -moz-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -o-transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  transition: all 0.5s cubic-bezier(.65, .05, .36, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.morphing-btn-clone_visible {
  display: block;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}

.fancybox-morphing .fancybox-bg {
  background: #333333;
  opacity: 1;
}

.fancybox-morphing .fancybox-toolbar {
  top: 20px;
  right: 40px;
}

.fancybox-morphing .fancybox-button--close {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.fancybox-morphing .fancybox-button--close::after, 
.fancybox-morphing .fancybox-button--close::before {
    height: 1.55px;
    width: 22px;
    left: calc(50% - 11px);
}

.fancybox-morphing .fancybox-button--close:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* Styling for element used in example */

#morphing-content {
  margin: 0;
  position: relative;
  background: transparent;
  color: #fff;

  padding: 6em 10vw;
  line-height: 2;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#morphing-content a {
  color: #fff;
}

#searchtheme, #searchgame
{
	width: 100%;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	border: 0 none;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid rgba(255,255,255,0.5);
	transition: ease-in-out all .3s;
}

#searchtheme:focus, #searchtheme:active, #searchgame:focus, #searchtheme:active
{
	border: 1px solid #fff;
}

.loadmore
{
	padding: 10px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-weight: 100;
	background-color: #fff;
	color: #000 !important;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
}




#loader {
  /* Uncomment this to make it run! */
  /*
     animation: loader 5s linear infinite; 
  */


  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
	display: flex;
	position: fixed;
	text-align: center;
	justify-content: center;
	  align-items: center;	  
}
@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}



/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}




.product {

}

.product .product-images,
.product .product-form {
  display: none;
}

/* 

Step 2
======

Reposition and redesign fancyBox blocks

*/

/* This elements contains both blocks */
.fancybox-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 800px;
  max-height: 600px;
}

/* Left block will contain the gallery */
.fancybox-stage {
  width: 52%;
  background: #fff;
}

/* Right block - close button and the form */
.fancybox-form-wrap {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 40px;
  width: 48%; 
  background: #fff;
}

/* Add vertical lines */
.fancybox-form-wrap::before, 
.fancybox-form-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.fancybox-form-wrap::before {
  width: 8px;
  background: #f4f4f4;
}

.fancybox-form-wrap::after {
  width: 1px;
  background: #e9e9e9;
}

/* Set position and colors for close button */
.fancybox-button--close {
  position: absolute;
  top: 0;
  right: 0;
  background: #F0F0F0;
  color: #222;
  padding: 7px;
}

.fancybox-button:hover {
  color: #111;
  background: #e4e4e4;
}

.fancybox-button svg path {
  stroke-width: 1;
}

/* Set position of the form */
.fancybox-inner .product-form {
  overflow: auto;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 0 10px;
  text-align: center;
}


/* 

Step 3
======

Tweak fade animation

*/

.fancybox-inner {
  opacity: 0;
  transition: opacity .3s;
}

.fancybox-is-open .fancybox-inner {
  opacity: 1;
}

.fancybox-is-closing .fancybox-fx-fade {
  opacity: 1 !important; /* Prevent double-fading */
}

/* 

Step 2
======

Bullet navigation design

*/
.product-bullets {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 99999;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.product-bullets li {
  display: inline-block;
  vertical-align: top;
}

.product-bullets li a {
  display: block;
  height: 30px;
  width: 20px;
  position: relative;
}

.product-bullets li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  border-radius: 99px;
  text-indent: -99999px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.product-bullets li.active a span {
  background: #FF6666;
}


.text-container {
  position: absolute;
  width: 17rem;
  height: 10rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.text {

  color: #fff;
  font-size: 6rem;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  bottom: 0;
  -webkit-animation: text 1050ms ease-in infinite;
          animation: text 1050ms ease-in infinite;
  -webkit-transform: translatez(0);
          transform: translatez(0);
	text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
}

.text-w {
  left: 0rem;
  -webkit-transform: translate3d(0, -4rem, 0);
          transform: translate3d(0, -4rem, 0);
  -webkit-animation: text-w 1050ms ease-in infinite;
          animation: text-w 1050ms ease-in infinite;
}
.text-a {
  left: 5.4rem;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.text-v {
  left: 9rem;
  -webkit-animation-delay: 230ms;
          animation-delay: 230ms;
}
.text-e {
  left: 14rem;
  -webkit-animation-delay: 310ms;
          animation-delay: 310ms;
}

.coast {
  position: absolute;
  left: 1.3rem;
  bottom: 1.7rem;
  width: 6.2rem;
  height: 2.2rem;
  display: inline-block;
  -webkit-animation: coast 2100ms linear infinite;
          animation: coast 2100ms linear infinite;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.wave-rel-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 3rem;
          perspective: 3rem;
  -webkit-perspective-origin: 0%, 50%;
          perspective-origin: 0%, 50%;
}

.wave {
  position: absolute;
  width: 6.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background: radial-gradient(ellipse at center, #74f1fc 0%, #32e6ff 73%, #15c7fa 100%);
  display: inline-block;
  -webkit-animation: wave 2100ms linear infinite;
          animation: wave 2100ms linear infinite;
  will-change: width;
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
}

.delay {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  45% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  45% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes text-w {
  0% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  38% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  69% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
}
@keyframes text-w {
  0% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  38% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
  69% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -4rem, 0);
            transform: translate3d(0, -4rem, 0);
  }
}
@-webkit-keyframes coast {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  23% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(16rem, 0, 0);
            transform: translate3d(16rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(16rem, 0, 0);
            transform: translate3d(16rem, 0, 0);
  }
}
@keyframes coast {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  23% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(16rem, 0, 0);
            transform: translate3d(16rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(16rem, 0, 0);
            transform: translate3d(16rem, 0, 0);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 2.2rem;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  23% {
    width: 2.2rem;
  }
  32% {
    width: 6.1rem;
  }
  42% {
    width: 5rem;
    -webkit-transform: rotateY(0deg) scale(1, 1);
            transform: rotateY(0deg) scale(1, 1);
  }
  51% {
    -webkit-transform: rotateY(90deg) scale(0.6, 0.2);
            transform: rotateY(90deg) scale(0.6, 0.2);
  }
  52% {
    -webkit-transform: rotateY(90deg) scale(0);
            transform: rotateY(90deg) scale(0);
  }
  100% {
    -webkit-transform: rotateY(90deg) scale(0);
            transform: rotateY(90deg) scale(0);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 2.2rem;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  23% {
    width: 2.2rem;
  }
  32% {
    width: 6.1rem;
  }
  42% {
    width: 5rem;
    -webkit-transform: rotateY(0deg) scale(1, 1);
            transform: rotateY(0deg) scale(1, 1);
  }
  51% {
    -webkit-transform: rotateY(90deg) scale(0.6, 0.2);
            transform: rotateY(90deg) scale(0.6, 0.2);
  }
  52% {
    -webkit-transform: rotateY(90deg) scale(0);
            transform: rotateY(90deg) scale(0);
  }
  100% {
    -webkit-transform: rotateY(90deg) scale(0);
            transform: rotateY(90deg) scale(0);
  }
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2db210;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2db210;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
} 



.close-button a {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -50px;
  margin-right: -50px;
  background-color: #ffffff;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transform: scale(.5, .5); /* IE 9 */
  -webkit-transform: scale(.5, .5); /* Safari */
  transform: scale(.5, .5);		
}
.close-button a > span {
  background-color: #f5a700;
  display: block;
  height: 12px;
  border-radius: 6px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 18px;
  width: 64px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
.close-button a > span span {
  display: block;
  background-color: #ed7f00;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
}
.close-button a > span.left {
  transform: rotate(45deg);
  transform-origin: center;
}
.close-button a > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close-button a > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close-button a > span.right {
  transform: rotate(-45deg);
  transform-origin: center;
}
.close-button a > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close-button a > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close-button a:hover > span {
  background-color: #2faee0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.close-button a:hover > span span {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #008ac9;
}
.close-button a:hover > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close-button a:hover > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.close-button a:hover > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}
.close-button a:hover > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}

/*toastr*/
.toast-title{font-weight:700}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#FFF}.toast-message a:hover{color:#CCC;text-decoration:none}.toast-close-button{position:relative;right:-.3em;top:-.3em;float:right;font-size:20px;font-weight:700;color:#FFF;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);line-height:1}.toast-close-button:focus,.toast-close-button:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}.rtl .toast-close-button{left:-.3em;float:left;right:.3em}button.toast-close-button{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.toast-top-center{top:0;right:0;width:100%}.toast-bottom-center{bottom:0;right:0;width:100%}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:999999;pointer-events:none}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{position:relative;pointer-events:auto;overflow:hidden;margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-position:15px center;background-repeat:no-repeat;color:#FFF;opacity:1;filter:alpha(opacity=80)}#toast-container>div.rtl{direction:rtl;padding:15px 50px 15px 15px;background-position:right 15px center}#toast-container>div:hover{box-shadow:0 0 3px rgba(0,0,0,0.5);opacity:1;cursor:pointer}#toast-container>.toast-info{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important}#toast-container>.toast-error{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important}#toast-container>.toast-success{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important}#toast-container>.toast-warning{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important}#toast-container.toast-bottom-center>div,#toast-container.toast-top-center>div{width:300px;margin-left:auto;margin-right:auto}#toast-container.toast-bottom-full-width>div,#toast-container.toast-top-full-width>div{width:96%;margin-left:auto;margin-right:auto}.toast{background-color:#030303}.toast-success{background-color:#51A351}.toast-error{background-color:#BD362F}.toast-info{background-color:#2F96B4}.toast-warning{background-color:#F89406}.toast-progress{position:absolute;left:0;bottom:0;height:4px;background-color:#000;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}@media all and (max-width:240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:241px) and (max-width:480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:481px) and (max-width:768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}#toast-container>div.rtl{padding:15px 50px 15px 15px}}

