
*.pyc
*.log
*.dat
.testDB/
testreport/


# libs
node_modules/

# esprima-joern
/esprima-joern/*.csv
/esprima-joern/out.dat
/esprima-joern/log
/esprima-joern/*.log
/esprima-joern/node_modules

# simurun
/log
/*.csv
/tmpcsv/
/simurun/*.csv
/import2neo4j/*.csv
/simurun/out.dat
/simurun/log
/simurun/*.log

# vscode
.vscode/
