#popup-title {
  text-align: center;
}

#voting-table {
  font-size: 1.3rem;
  font-family: "Lucida Sans Unicode", sans-serif;
}

#pctrim {
  width: 320px;
  height: 350px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.logo {
  max-width: 6rem;
}

.table tr td #voting-table,
.table tr th #voting-table {
  background-color: rgba(44, 44, 44, 0.5);
  border-color: rgba(66, 66, 66, 0.5) transparent !important;
}

th {
  font-family: var(--text-font);
  font-size: 1.7rem;
}
.table-hover tr:hover {
  background-color: rgba(31, 31, 31, 0.8) !important;
}
